click
numpy
mercantile
morecantile
tqdm
git+http://rasterio:glpat-AqBFJBh5bKGnzBxBQSUc@dev.modext.ru:8929/dcc5/rasterio.git@meteoctx
rio-tiler
parallelbar
pytz
pyrfc3339
fiona
shapely
geopandas
Pillow